*{
    margin: 0;
    padding: 0;   
}
/* body{
    overflow-x: hidden;
} */

/* header part start  */
header{
    margin: 50px 140px 120px;
    font-family: 'Merriweather', serif;
    color: #fff;
}
.banner{
    border-radius: 16px;
    position: relative;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/BannerImage.png');   
    background-size: 100% 100%;     
    max-width: 1320px;
    height: 600px;
}
.banner-title{
   
    position: absolute;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 175px;
    padding-left: 430px;
    line-height: normal;
   
}
.title-celebration{
  
    position: absolute;
    text-align: center;
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    padding-top: 230px;
    padding-left: 243px;
    line-height: 95px;
}
/* header part end */

/* holiday-deal part start */
.holiday-deal{
    margin-top: 120px;
    text-align: center;
    color: #F00;
}
.off-deal{
    font-weight: 700;
    font-size: 88px;
    margin-bottom: 49px;
}
.better-deal{ 
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.categories{
    color: black;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;
}
.new-year-img{
    width: 802.9px;
    height: 500px;
}
/* holiday-deal part end */

/* welcome-party section start */
.party-section{
    margin-left: 140px;
    margin-right: 140px ;
}
.welcome-party{
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Vectorrr.png');
    background-size: 100% 100%;  
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding-left: 126px;
    padding-right: 138px;
    margin-top: 120px;  
}

.greeting{
    color: #FFF;
    font-family: Merriweather;
    font-style: normal;
    font-size: 50px;
    padding-top: 126px;
    font-weight: 700;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7px;
}
.description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding-top: 24px; 
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.join-btn{
    margin-left: 20px;
    padding: 16px 32px;;
    border-radius: 10px;
    background-color: #F00;
    color: #fff;
    border: 0;
    font-weight: bold;
}
.balloon-wish{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
/* welcome-party section end */

/* hotel-place section start */
.hotel{
    margin-top: 120px;
    max-width: 1320px;
    height: 482px;
    
}
.hotel-info{  
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-left: 140px;
    margin-right: 140px;
    
}
.common-color{
    color: #F00;
}
.hotel-place-date{
    padding-top: 100px;
    padding-left: 25px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}
.join-now-btn{
    text-align: center;
    margin-top: 48px;
    margin-left: 45%;
    padding: 16px 32px;;
    border-radius: 10px;
    background-color: #F00;
    color: #fff;
    border: 0;
    font-weight: bold;
}
/* hotel-place section end */

/* bonus part start  */
.offer-details{
    margin-top: 120px;
    width: 1320px;
    height: 600px;
    background: #FFF;
    margin-left: 140px;
    margin-right: 140px;
    display: space-between;
    /* border: 1px solid red; */
    padding-top: 50px;
}
.best-offer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.coming-soon{
    padding-right: 70px;
}

.offer-description{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.eclipse-image{
    border: 10px solid red;
    border-radius: 50%;
    padding: 40px;
    margin-right: 118px;
}

.year-number{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 60px;
}
.year-description{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 43px;
}
/* bonus part end  */

/* holiday sale start  */
/* .sale-section{
    margin-top: 120px;
    max-width: 1320px;
    height: 1000px;
    border: 1px solid rebeccapurple;
}
.functional{
    text-align: center;
    margin-bottom: 10px;
}
.holiday-sale{
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.sale-description{
    margin-top: 30px;
    margin-left: 140px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
/* } */
 
/* holiday sale end  */

/* portfolio part start */
.awesome-portfolio{
    margin: 140px 100px;
}
.best-gift{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.portfolio-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}
.portfolio-description{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 48px;
}
.row{ 
    width: 424px;
    height: 450px;
    /* margin-left: 140px;
    margin-right: 100px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}
.album-portfolio:hover{
    transform: scale(1.1);
    box-shadow: 15px 15px 15px rgba(0, 0, 255, .2);
    z-index: 2;
}

 /* newsletter section start */
.newsletter
{
    margin-top:600px;
    width: 1320px;
    height: 616px;
    margin-left:140px;
    margin-right:140px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

} 
.newsletter-info
{    
    padding-top:20px;   
} 

.subscribe-heading
{
color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top:20px;
} 

.subscribe-description
{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
} 

.newsletter label
{    margin-top:48px;
    position:relative;
}
.newsletter input
{
    width: 600px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    border:none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:10px;
} 

.newsletter button{
    
    width: 190px;
    height: 60px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    aspect-ratio: 1;
    right: 0;
    top:0;
    position:absolute;
    color: #FFF;
    border:none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

/* footer start  */
footer{
    width: 1600px;
    height:609px;
    background-color: #070211;
    margin-top:120px;
    /* margin-bottom: 0px; */
    padding-bottom: 150px;
} 

.hotel-address-details
{
color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
display:flex;
flex-direction: row;
justify-content: space-around;
padding-top:120px;
} 

.hotel-contact
{
    height:40px;
}
.hotel-contact i
{
    width: 24px;
    height: 24px;
    margin-right:5px;
    margin-top:10px;
    padding:30px;

} 
hr{
    /* margin-top: 50px; */
    width: 1320px;
    height: 0px; 
    background: rgba(112, 90, 90, 0.15);

    margin: 30px 140px;
    
} 

.icons
{
    margin-top:50px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-bottom: 50px;
} 
.icons img
{
    padding:15px;
} 

.reserved-rights-end
{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:50px; 
}
/* footer end  */