*{
    margin: 0;
    padding: 0;
}
header{
    margin: 50px 140px 120px;
    font-family: 'Merriweather', serif;
    color: #fff;
}
.banner{
    border-radius: 16px;
    position: relative;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/BannerImage.png');   
    background-repeat: no-repeat;
    background-size: 100% 100%;     
    max-width: 1320px;
    height: 600px;
}
.banner-title{
   
    position: absolute;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 175px;
    padding-left: 430px;
    line-height: normal;
   
}
.title-celebration{
  
    position: absolute;
    text-align: center;
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    padding-top: 230px;
    padding-left: 243px;
    line-height: 95px;
}

.holiday-deal{
    margin-top: 120px;
    text-align: center;
    color: #F00;
}
.off-deal{
    font-weight: 700;
    font-size: 88px;
    margin-bottom: 49px;
}
.better-deal{ 
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.categories{
    color: black;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;
}
.new-year-img{
    width: 802.9px;
    height: 500px;
   
}